@page "/"

<Home/>
<section class="d-flex row">
<div class="d-flex flex-column w-50 col-6">
    <h1 class="fs-1">Seu novo companheiro espera por você!</h1>
    <span>Mais que um filho, um membro da família. Machos a partir de R$1.599 Fêmeas a partir de R$2.399</span>
     <HWButton />
</div>
<img class="col-6" />
</section>

<section>
<h1>Nossos filhotes</h1>
<h2>Escolha o seu melhor amigo</h2>
<div>
    <HWCard/>
        <div>
            <div>
                <h3>Femea</h3>
                <span>de 3.300</span>
            </div>
            <span>R$ 2.399(a partir de)</span>
            <div>
                <span><i></i>Parcelamento: até 18X (ver condições)</span>
                <span><i></i>Vacinado</span>
                <span><i></i>Vermifugado</span>
                <span><i></i>Contrato de compra e venda</span>
                <span><i></i>Adestrado no tapete higiênico</span>
                <span><i></i>Garantia de saúde</span>
                <span><i></i>Suporte veterinário</span>
            </div>
        </div>
</div>
</section>

<section>
    <div>
        
    </div>
    <div>
        <h1>sobre nós</h1>
        <h2>Canil recanto dos guardiões</h2>
        <p>No coração do ABC, destaca-se o Canil Recanto dos Guardiões, especioalizado nos encantadores Shih Tzu de alta qualidade. Aqui, Você não está apenas comprando um filhote, mas levando para casa um amigo leal de quatro patas que irá se tornar parte da sua familia</p>
        <p>Se você sonha com um Shih Tzu para Trazer alegria e Companheirismo, está no lugar certo. Com respaldo da nossa clínica veterinária, garantimos a saúde do seu shih Tzu desde o primeiro dia. E para sua comodidade, realizamos entregas seguras em todo o estado de são paulo.</p>
        <p>No recanto do guardiões, o shih tzu dos seus sonhos está à sua espera, pronto para iluminar sesus dias!</p>
    </div>
    <button>Comprar filhote shih-tzu</button>
</section>

<section>
    <div>
        <h1>Diferenciais</h1>
        <h2>Nós oferecemos o melhor da raça Shih-Tzu</h2>
    </div>
    <div>
        <div>
            <img />
            <h3>Garantia de saúde</h3>
            <span>Confie na saúde do seu filhote, temos garantida de saúde</span>
        </div>
        <div>
            <img />
            <h3>Suporte Veterinário</h3>
            <span>Tranquiliadde inicial: suporte veterinário</span>
        </div>
        <div>
            <img />
            <h3>Contrato de compra e venda</h3>
            <span>Seu investimento protegido com contrato oficial.</span>
        </div>
        <div>
            <img />
            <h3>Vacinados e vermifugados</h3>
            <span>Prontinho para brincar: sem "bichinhos" indesejados!.</span>
        </div>
        <div>
            <img />
            <h3>Microchip e pedigree</h3>
            <span>Disponíveis mediante consulta de condição</span>
        </div>
    </div>
    <button>Comprar filhote shih-tzu</button>
</section>

<section>
    <div>

    <div>
        <h1>Depoimentos</h1>
        <h2>O que dizem nossos Clientes</h2>
    </div>
    <p>texto de depoimento</p>
    <button>Comprar filhote shih-tzu</button>
    </div>
    <img />
</section>

<section>
    <h1>FAQ</h1>
    <h2>Ainda com dúvidas</h2>
    <div>
        <span>Vocês oferecem garantia de saúde para os shih-tzus vendidos?</span>
        <span>Os shih-Tzus são fáceis de treinar?</span>
        <span>Os Shih-tzus são bons para famílias com criança?</span>
        <span>Os Filhotes são vacinados e vermifugados?</span>
        <span>Como posso realizar a compra de um filhote?</span>
        <span>Como adquirir microchip e pedigree</span>
    </div>
    <button>Comprar filhote shih-tzu</button>
</section>