<button @onclick="@sla"
        class="btn config-btn btn-top-right">
    <i class=" bi @Icone align-top fs-4"></i>
</button>
<a @onclick="teste">testeeeeeeeeeeeeeeeeeeeeeeeeeeeee</a>
@code{
    private async Task teste2()
    {
        Console.WriteLine("CLICOU NO TESTE"); // teste
        await OnClickEvent.InvokeAsync();
    }
}