@if (Outline)
{
    <div class="col-@Grid">
    <a class="buy-btn @CSSButton " type="button" @onclick="OnClick">
        @Texto
    </a>
</div>
}
else
{
    <div class="col-@Grid">
        <a class="buy-btn @CSSButton " type="button" @onclick="OnClick">
            @Texto
        </a>
    </div>
}

