.buy-btn {
    max-width: 250px;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.4rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-outline {
    display: inline-block;
    padding: 0.9rem 1.6rem;
    border: 2px solid #fcb130;
    border-radius: 30px;
    font-weight: 700;
    color: #fcb130;
    text-decoration: none;
    transition: all 0.3s ease;
}

  
