@if (Pequeno)
{
    <div class="card-item card" >
        <div class="icon-bg">
            <img src="/img/icon1Diferenciais.png" alt="Ícone 1" class="icon" />
        </div>
        <h3>Garantia de Saúde</h3>
        <p>Confie na saúde do seu filhote, temos garantia de saúde.</p>
    </div>
}
else
{

    <div class="filhote-card">
        @CardBody
    </div>

}
<style>
    .card:hover {
        border-color: #@CSSColor;
    }
</style>


