
    <div class="card-item card" >
        <div class="icon-bg">
            <img src="/img/icon1Diferenciais.png" alt="Ícone 1" class="icon" />
        </div>
        <h3>@CardConfig.CardTitle</h3>
        <p>@CardConfig.CardDescricao</p>
    </div>

<style>
    /* Cores */
    .icon-bg {
        background: #34d3994D;
        border: 4px solid rgba(52,211,153,0.15);
    }
    /* Hover */
    .card-item:hover {
        border-color: #34d399;
    }


</style>


