<div class="p-5">
    <div class="shadow">
        <h3 class="fs-2">Macho</h3>
        <span class="fs-2">de 2.200</span>
    </div>
    <span class="fs-1">R$ 1.599(a partir de)</span>
    <div class="d-flex flex-column gap-2">
        <span><i class="fa-check fa-solid"></i>Parcelamento: até 18X (ver condições)</span>
        <span><i class="fa-check fa-solid"></i>Vacinado</span>
        <span><i class="fa-check fa-solid"></i>Vermifugado</span>
        <span><i class="fa-check fa-solid"></i>Contrato de compra e venda</span>
        <span><i class="fa-check fa-solid"></i>Adestrado no tapete higiênico</span>
        <span><i class="fa-check fa-solid"></i>Garantia de saúde</span>
        <span><i class="fa-check fa-solid"></i>Suporte veterinário</span>
    </div>
</div>