.filhote-card {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 1.5rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
    padding: 3rem 2rem;
    max-width: 400px;
    width: 100%;
    position: relative;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

    .filhote-card:hover {
        border-color: #fcb130;
        transform: translateY(-3px);
    }

.filhote-info {
    position: relative;
    z-index: 2;
}

.filhote-gender {
    font-weight: 700;
    color: #1c1333;
    margin-bottom: 0.2rem;
}

.filhote-old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9rem;
}

.filhote-price {
    color: #1c1333;
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 1.2rem;
}

    .filhote-price span {
        font-size: 0.9rem;
        color: #726e7f;
        font-weight: 400;
    }

.filhote-benefits {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 1.5rem 0;
    color: #4b4658;
    line-height: 1.8;
    font-size: 0.95rem;
}

.filhotesCheckYellow {
    color: #fcb130;
    font-size: 1.3rem;
}

.filhotesCheckGreen {
    color: #25D366;
    font-size: 1.3rem;
}



/* Card */
.card-item {
    background: #fff;
    border-radius: 1.8rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    padding: 2.4rem 2rem;
    width: 250px;
    text-align: center;
    transition: transform 0.28s ease, box-shadow 0.28s ease, border-color 0.28s ease;
    border: 3px solid transparent;
    z-index: 2;
}

    .card-item:hover {
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.09);
    }

/* Icon circle */
.icon-bg {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1.1rem;
    transition: transform 0.28s ease, box-shadow 0.28s ease;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

/* Icon image */
.icon {
    width: 62px;
    height: auto;
    transition: transform 0.28s ease;
    display: block;
}

/* Cores */
.card-green .icon-bg {
    background: #e6f9f0;
    border: 4px solid rgba(52,211,153,0.15);
}


/* Hover */
.card-item:hover .icon-bg {
    transform: scale(1.08);
    box-shadow: 0 14px 30px rgba(0,0,0,0.10);
}

.card-item:hover .icon {
    transform: scale(1.12);
}

/* Hover color border */

