.seed-label {
    font-weight: 500;
    color: var(--seed-gray-800);
}

.required:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: var(--bs-danger);
    padding-left: 0.25rem;
    font-weight: 600;
}

.seed-textarea {
    border-radius: 0.425rem !important;
    background-color: #F1F4F7 !important;
    color: var(--black);
    padding: .55rem .75rem;
    font-size: 0.95rem;
    font-weight: 500;
}

    .seed-textarea:focus, .seed--textarea:active:focus {
        box-shadow: none !important;
        border: 1px solid var(--seed-gray-400) !important;
    }

    .seed-textarea.invalid {
        border: 1px solid #f44336 !important
    }

.form-control:disabled {
    background-color: #DCE0E3 !important;
    color: var(--bs-gray-700) !important;
    font-weight: 600 !important;
    border-color: var(--bs-gray-300);
    opacity: 1;
}
