@inherits LayoutComponentBase
<HWAbaLateral></HWAbaLateral>
<div class="">
  @*   <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <article class="">
            @Body
        </article>
    </main>
</div>
