@using HeulenderWolf.Components.Molecules
@using HeulenderWolf.Models.Sections

<!--
==============================
SECTION: PRIMEIRA SECTION
==============================
-->
<section class="hero-section d-flex flex-wrap align-items-center justify-content-between">

    <!-- BLOCO DE TEXTO PRINCIPAL -->
    <div class="hero-text col-12 col-md-6">
        <!-- Título principal de destaque -->
        <h1 class="hero-title perso-title">@Model.Titulo</h1>

        <!-- Subtítulo com detalhes e preços -->
        <p class="hero-subtitle perso-subtitle">
            @Model.Descricao 
        </p>

        <!-- Botão principal de chamada para ação -->
        <HWButton ButtonConfig="ButtonModel"   OnClickEvent="@(() => OnClickEvent.InvokeAsync())"></HWButton>
    </div>

    <!-- BLOCO DE IMAGEM PRINCIPAL E INSÍGNIAS -->
    <div class="hero-image col-12 col-md-6 position-relative text-center">
        <!-- Imagem principal (mulher com filhote) -->
        <img src="/img/mulher_e_cao.png" alt="Mulher com filhote Shih-Tzu" class="img-fluid main-dog-img" />
        @* <img src="@Img.OpenReadStream()"/> *@

        <!-- INSÍGNIA: número de clientes satisfeitos -->
        <div class="hero-badge badge-clientes">
            <i class="bi bi-award-fill"></i>
            <div>
                <strong>780 +</strong><br />
                Clientes Satisfeitos
            </div>
        </div>

        <!-- INSÍGNIA: status de vacinação -->
        <div class="hero-badge badge-vacinados">
            <i class="bi bi-emoji-smile-fill" style="color: #fcb130;"></i>
            <div>
                <strong>Vacinados</strong><br />
                & Vermifugados
            </div>
        </div>

        <!-- INSÍGNIA: adestramento básico -->
        <div class="hero-badge badge-adestrados">
            <i class="bi bi-patch-check-fill"></i>
            <div>
                <strong>Adestrados</strong><br />
                Tapete higiênico
            </div>
        </div>

        <!-- ÍCONE FLOTANTE DO WHATSAPP (link externo) -->
        <a href="https://wa.me/5511999999999" class="whatsapp-icon" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-whatsapp"></i>
        </a>
    </div>
    <HWButtonIcon OnClickEvent="ShowModal" />
</section>
<HWFormModal @ref="FormModal"
             TItem="FirstModel"
             TituloHeader="Edição da primeira seção"
             Context="ctx">
    <div class="row g-3">
        <HWInputText Label="Titulo da primeira seção" Grid="6" @bind-Value="Model.Titulo"/>
        <HWInputText Label="Descrição da primeira seção" Grid="6" @bind-Value="Model.Descricao" />
        <HWInputFile OnInputFileChange="TesteImagem"></HWInputFile>
    </div>
</HWFormModal>