@rendermode InteractiveServer
@using HeulenderWolf.Components.Molecules
@using HeulenderWolf.Models

<!--
==============================
SECTION: HEADER
==============================
-->
<header class="site-header">
    <!-- CONTAINER DE NAVEGAÇÃO -->
    <nav class="nav-container">

        <!-- LOGO DA MARCA -->
        <div class="logo">
            <img src="/img/logo_bg.png" alt="Heulender Wolf Logo" />
        </div>

        <!-- BOTÃO HAMBÚRGUER (menu mobile) -->
        <button class="menu-toggle" @onclick="ToggleMenu">
            <i class="bi @(isMenuOpen ? "bi-x" : "bi-list")"></i> <!-- Ícone muda conforme o estado do menu -->
        </button>

        <!-- LISTA DE LINKS DO MENU -->
        <ul class="nav-links @(isMenuOpen ? "open" : "")">
            <li><a href="/VisitanteLista">Visitantes</a></li>
            <li><a href="#Configuracao" @onclick="ShowModal">Configuração geral</a></li>
            <li><a href="#filhotes" @onclick="CloseMenu">Filhotes</a></li>
            <li><a href="#sobre" @onclick="CloseMenu">Sobre Nós</a></li>
            <li><a href="#diferenciais" @onclick="CloseMenu">Diferenciais</a></li>
            <li><a href="#depoimentos" @onclick="CloseMenu">Depoimentos</a></li>
            <li><a href="#faq" @onclick="CloseMenu">FAQ</a></li>
            <li>
                <!-- BOTÃO DE CHAMADA PARA AÇÃO -->
                <a href="#comprar" class="buy-btn" @onclick="CloseMenu">Comprar Meu Shih-Tzu</a>
            </li>
        </ul>
    </nav>
</header>
<HWFormModal @ref="FormModal"
             TItem="ConfiguracaoGeralModel"
             TituloHeader="Configuração geral"
             Context="ctx">
    <div class="row g-3">
        <HWInputColor @bind-Value="ctx.CorPrincipal" Grid="4" Label="Cor principal do sistema"/>
        <HWInputText @bind-Value="ctx.textoBotao" Grid="8" Label="Texto dos botões do sistema"/>
    </div>
</HWFormModal>

