.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.logo img {
    height: 178px;
    width: auto;
}

.logo {
    position: relative;
    z-index: 1100;
}

/* MENU LINKS (DESKTOP) */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

    .nav-links li a {
        color: #1c1333;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s ease;
    }

        .nav-links li a:hover {
            color: #fcb130;
        }

/* BOTÃO DESTACADO */
.buy-btn {
    background-color: #fcb130;
    color: #fff !important;
    padding: 1rem 1.4rem;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(252, 177, 48, 0.4);
    transition: all 0.3s ease;
}

    .buy-btn:hover {
        background-color: #fff;
        color: #fcb130 !important;
        border: 1px solid #fcb130;
        transform: translateY(-2px);
        transition: all 0.45s ease;
    }

/* BOTÃO HAMBÚRGUER */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2.2rem;
    color: #1c1333;
    cursor: pointer;
    z-index: 1100;
}

/* MOBILE */
@media (max-width: 900px) {
    .nav-container {

    }

    .menu-toggle {
        display: block;
        font-size: 2rem;
        background-color: #fcb130;
        border-radius: 5px;
        color: #fff;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        overflow: hidden;
        transition: all 0.4s ease;
        opacity: 0;
        pointer-events: none;
    }

        .nav-links.open {
            height: 110vh;
            opacity: 1;
            pointer-events: all;
        }

        .nav-links li a {
            font-size: 1.3rem;
            font-weight: 700;
        }

    .buy-btn {
        display: none;
    }
}
