@using HeulenderWolf.Components.Molecules

<section class="sobre-section">
    <div class="sobre-container">
        <!-- Coluna das imagens + badge -->
        <div class="sobre-imagens-wrapper">
            <div class="sobre-images-row">
                <div class="sobre-img">
                    <img src="img/cachorro3.png" alt="Filhote Shih-Tzu">
                </div>

                <div class="sobre-img">
                    <img src="img/cachorro4.png" alt="Shih-Tzu com dona">
                </div>
            </div>

            <div class="experiencia-wrapper">
                <div class="experiencia-badge">
                    <i class="fa-solid fa-paw"></i>
                    <span><i class="bi bi-stars"></i> <span class="experiencia-badge-5">5+ </span><br /> Anos de Experiência</span>
                </div>
            </div>
        </div>

        <!-- Coluna do texto -->
        <div class="sobre-conteudo">
            <h4 class="sobre-subtitulo">SOBRE NÓS</h4>
            <h2 class="sobre-titulo">Canil Recanto dos Guardiões</h2>

            <p>
                No coração do ABC, destaca-se o Canil Recanto dos Guardiões, especializado nos encantadores
                Shih Tzu de alta qualidade. Aqui, você não está apenas comprando um filhote, mas levando
                para casa um amigo leal de quatro patas que irá se tornar parte integrante de sua família.
            </p>

            <p>
                Se você sonha com um Shih Tzu para trazer alegria e companheirismo, está no lugar certo.
                Com o respaldo da nossa clínica veterinária, garantimos a saúde do seu Shih Tzu desde o
                primeiro dia. E para sua comodidade, realizamos entregas seguras em todo o estado de São Paulo.
            </p>

            <p>
                No Recanto dos Guardiões, o Shih Tzu dos seus sonhos está à sua espera, pronto para iluminar seus dias!
            </p>

            <a href="#comprar" class="btn-comprar">Comprar Filhote Shih-Tzu</a>
        </div>
    </div>
</section>
