@using HeulenderWolf.Components.Molecules
@using HeulenderWolf.Models.Sections

<!-- 
==============================
SECTION: SOBRE NÓS
============================== 
-->
<section class="sobre-section position-relative">
    <div class="sobre-container">

        <!-- ===== COLUNA ESQUERDA: imagens + selo de experiência ===== -->
        <div class="sobre-imagens-wrapper">

            <!-- Linha com duas imagens lado a lado -->
            <div class="sobre-images-row">
                <div class="sobre-img">
                    <img src="img/cachorro3.png" alt="Filhote Shih-Tzu">
                </div>

                <div class="sobre-img">
                    <img src="img/cachorro4.png" alt="Shih-Tzu com dona">
                </div>
            </div>

            <!-- Badge de experiência (5+ anos) -->
            <div class="experiencia-wrapper">
                <div class="experiencia-badge">
                    <i class="fa-solid fa-paw"></i>
                    <span>
                        <i class="bi bi-stars"></i>
                        <span class="experiencia-badge-5">5+ </span><br />
                        Anos de Experiência
                    </span>
                </div>
            </div>
        </div>

        <!-- ===== COLUNA DIREITA: texto descritivo ===== -->
        <div class="sobre-conteudo">
            <h4 class="sobre-subtitulo">SOBRE NÓS</h4>
            <h2 class="sobre-titulo">Canil Recanto dos Guardiões</h2>

            <!-- Parágrafo 1 -->
            <p>
               @Model.SobreNosTexto
            </p>

            <!-- Botão de ação (CTA) -->]
           <HWButton ButtonConfig="ButtonModel"></HWButton>
        </div>
    </div>
    <HWButtonIcon OnClickEvent="ShowModal" />
</section>
<HWFormModal @ref="FormModal"
             TItem="SobreModel"
             TituloHeader="teste"
             Context="ctx">
    <div class="row g-3">
        <HWInputTextArea @bind-Value="ctx.SobreNosTexto" Label="Texto do Sobre Nós" MaxLength="1000"/>
    </div>
</HWFormModal>

